* {
  background-color: rgb(185, 167, 167);
  box-sizing: border-box;
  text-align: center;
}

@media only screen and (min-width: 650px ) {
  * {
    background-color: rgb(209, 90, 193);
    }
  }
  
@media only screen and (min-width: 960px) {
  * {
    background-color: rgb(179, 179, 211);
    }
  }